# Statistics Exercise 
---

# Concept and Theory

## **Soal 1**

**Apa yang dimaksud dengan populasi dan sample? Berikan Contohnya!**

In [35]:
print("Populasi adalah: keseluruhan subjek/objek yang memiliki karakteristik tertentu yang menjadi sasaran dalam sebuah penelitian")
print("Sampel adalah:  sebagian dari populasi yang diambil dan dijadikan sumber data untuk mewakili populasi")

Populasi adalah: keseluruhan subjek/objek yang memiliki karakteristik tertentu yang menjadi sasaran dalam sebuah penelitian
Sampel adalah:  sebagian dari populasi yang diambil dan dijadikan sumber data untuk mewakili populasi

## **Soal 2**

**Apa yang dimaksud dengan hipotesis? Apa perbedaan Null Hypothesis (Ho) dan Alternative Hypothesis (Ha)? Berikan contohnya!**

In [36]:
print("Hipotesis adalah: dugaan awal tentang karakteristik populasi yang akan diuji kebenarannya berdasarkan data sampel")
print("Hipotesis Testing adalah: cara untuk memastikan apakah dugaan tentang seluruh data (populasi) itu benar, dengan memeriksa data contoh (sampel)")
print("Hipothesis Null adalah: hipotesis yang menyatakan tidak adanya perbedaan atau hubungan antar variabel")
print("Hypothesis Alternative adalah: hipotesis yang menyatakan adanya perbedaan atau hubungan antar variabel")
print("Contoh Hipotesis Null: tidak terdapat perbedaan rata-rata tinggi badan antara pria dan wanita")
print("Contoh Hipotesis Alternative: terdapat perbedaan rata-rata tinggi badan antara pria dan wanita")

Hipotesis adalah: dugaan awal tentang karakteristik populasi yang akan diuji kebenarannya berdasarkan data sampel
Hipotesis Testing adalah: cara untuk memastikan apakah dugaan tentang seluruh data (populasi) itu benar, dengan memeriksa data contoh (sampel)
Hipothesis Null adalah: hipotesis yang menyatakan tidak adanya perbedaan atau hubungan antar variabel
Hypothesis Alternative adalah: hipotesis yang menyatakan adanya perbedaan atau hubungan antar variabel
Contoh Hipotesis Null: tidak terdapat perbedaan rata-rata tinggi badan antara pria dan wanita
Contoh Hipotesis Alternative: terdapat perbedaan rata-rata tinggi badan antara pria dan wanita

## **Soal 3**

---
### **One tail vs Two tail**

#### Jika kita ingin melakukan eksperimen atau survey untuk membuktikan pertanyaan di bawah ini, uji apa yang lebih cocok (One tail test atau Two tail test)?

1.	Apakah rata-rata tinggi orang Indonesia pada tahun 2000 dan 2020 berbeda?
     
2.	Apakah rata-rata nilai IELTS sekolah international di Jakarta lebih besar dari sekolah umum?
    
3.	Apakah orang yang rajin oleh raga sepeda memiliki kadar lemak tubuh lebih rendah dari orang yang jarang olah raga?  
    
4.	Apakah rata-rata satu karung kecil beras yang diproduksi oleh Company A adalah 5.000g?   
    
5.	Apakah jumlah siswa yang lulus UN tahun 2010 ada 95%?

In [37]:
1. Two tail
2. One tail
3. One tail
4. Two tail
5. One tail

SyntaxError: invalid syntax (145362804.py, line 1)

---
### **Hypothesis Testing**
Pilih metode yang tepat untuk kasus dibawah ini.

1.	Dari 5 provider internet di Indonesia, apakah semuanya memiliki rata-rata penghasilan yang sama di tahun 2020?

2.	Apakah orang yang rajin oleh raga sepeda memiliki kadar lemak tubuh lebih rendah dari sebelum mereka berolah raga?

3.	Apakah orang yang rajin oleh raga sepeda memiliki kadar lemak tubuh lebih rendah dari orang yang jarang olah raga?  

4.	Apakah rata-rata satu karung kecil beras yang diproduksi oleh Company A adalah 5.000g?   

5.	Apakah jumlah siswa yang lulus UN tahun 2010 ada 95%?

In [ ]:
1. One way Anova
2. Paired sample t test
3. Independent sample t test
4. One sample t test
5. One proportion z test

# Practical

In [38]:
# import libraries
import numpy as np
import pandas as pd
import seaborn as sns
import scipy.stats as stats

In [39]:
df_car = pd.read_csv('all_cars.csv')
df_car.head()

,brand,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
0,Audi,A1,2017,12500,Manual,15735,Petrol,150,55.4,1.4
1,Audi,A6,2016,16500,Automatic,36203,Diesel,20,64.2,2.0
2,Audi,A1,2016,11000,Manual,29946,Petrol,30,55.4,1.4
3,Audi,A4,2017,16800,Automatic,25952,Diesel,145,67.3,2.0
4,Audi,A3,2019,17300,Manual,1998,Petrol,145,49.6,1.0

## Soal 1. 
Apakah mobil Automatic dari Hyundai dan Toyota memiliki harga yang berbeda? Buktikan dengan Uji Statistik?

- H0: harga hyundai = harga toyota
- H1: harga hyundai != harga toyota

In [40]:
from scipy.stats import ttest_ind

In [41]:
hyundai = df_car[df_car['brand'] == 'Hyundai']['price']
toyota = df_car[df_car['brand'] == 'Toyota']['price']

In [42]:
stats, p_value = ttest_ind(hyundai, toyota, equal_var = True)

In [43]:
# Intepretasi hasil:
if p_value > 0.05:
    print(f'p_value = {p_value:.2f}, Terima H0')
else:
    print(f'p_value = {p_value:.2f}, Terima H1')

p_value = 0.05, Terima H0

**Kesimpulan:** harga hyundai sama dengan harga toyota

## Soal 2.
Apakah jarak tempuh (mileage) semua brand mobil keluaran tahun 2019 sama? Buktikan dengan Uji Statistik!

- H0: jarak tempuh semua brand keluaran 2019 sama
- H1: jarak tempuh semua brand keluaran 2019 tidak sama

In [44]:
df_car['brand'].unique()

array(['Audi', 'Hyundai', 'Toyota'], dtype=object)

In [45]:
from scipy.stats import f_oneway

In [46]:
audi = df_car[(df_car['brand'] == 'Audi') & (df_car['year'] == 2019)]['mileage']
hyundai = df_car[(df_car['brand'] == 'Hyundai') & (df_car['year'] == 2019)]['mileage']
toyota = df_car[(df_car['brand'] == 'Toyota') & (df_car['year'] == 2019)]['mileage']

In [47]:
stats, p_value = f_oneway(audi, hyundai, toyota)

In [48]:
# Intepretasi hasil:
if p_value > 0.05:
    print(f'p_value = {p_value:.2f}, Terima H0')
else:
    print(f'p_value = {p_value:.2f}, Terima H1')

p_value = 0.00, Terima H1

**Kesimpulan:** jarak tempuh keseluruhan brand keluaran 2019 tidak sama

## Soal 3.
Apakah rata-rata nilai mpg dari semua mobil adalah 53 mpg! Buktikan dengan Uji Statistik!

- H0: rata rata nilai mpg semua mobil 53 mpg
- H1: rata rata nilai mpg semua mobil tidak 53 mpg

In [56]:
from scipy.stats import ttest_1samp

In [59]:
df_car.mpg.mean()

np.float64(55.151181173089014)

In [53]:
stats, p_value = ttest_1samp(df_car['mpg'], popmean = 53.0)

In [54]:
# Intepretasi hasil:
if p_value > 0.05:
    print(f'p_value = {p_value:.2f}, Terima H0')
else:
    print(f'p_value = {p_value:.2f}, Terima H1')

p_value = 0.00, Terima H1

**Kesimpulan:** rata rata nilai semua mobil != 53 mpg

## Soal 4.
- Buat sebuah dataframe berisi mobil Hyundai dan Toyota tahun 2019!
- Dari dataframe yang telah dibuat, lakukan uji hipotesis untuk membuktikan apakah brand mobil ada kaitannya dengan jenis transmisi!

## Soal 6.
- Apakah proporsi mobil berbahan bakar Diesel pada mobil bertranmisi Manual dan Automatic berbeda! (Apakah proporsi mobil berbahan bakar Diesel dari seluruh mobil bertranmisi Manual berbeda dari proporsi mobil berbahan bakar Diesel dari seluruh mobil bertranmisi Automatic?)

- Buktikan dengan uji statistik!