In [1]:
#Import the usual library
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

In [4]:
df_mpg = sns.load_dataset('mpg')
df_mpg.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

# Uji Parametrik (Datanya harus normal)

## One Sample TTest

In [5]:
df_mpg['mpg'].mean() # berdasarkan sampel

23.514572864321607

### Uji 2 sisi
apakah rata rata mpg itu sama dengan 23.0

- H0: rata rata mpg = 23.0
- H1: rata rata mpg != 23.0

In [7]:
from scipy.stats import ttest_1samp

In [8]:
# uji statistik
stats, p_value = ttest_1samp(df_mpg['mpg'], popmean = 23.0)

In [9]:
# Intepretasi hasil:
if p_value > 0.05:
    print(f'p_value = {p_value:.2f}, Terima H0')
else:
    print(f'p_value = {p_value:.2f}, Terima H1')

p_value = 0.19, Terima H0

**kesimpulan:** rata rata mpg = 23.0

### Uji 1 sisi
apakah rata rata mpg >= 23.0

- H0: rata rata mpg >= 23.0
- H1: rata rata mpg < 23.0

In [10]:
# uji statistik
stats, p_value = ttest_1samp(df_mpg['mpg'], popmean = 23.0)

Jika p_value / 2 < 0.05 dan stat < 0 maka tolak H0 dan terima H1 (one tailed kiri)

In [12]:
# akibat one tailed maka p value harus dibagi 2 dan juga cek arahnya (stats)
if p_value/2 < 0.05 and stats < 0:
    print(f'p_value/2 = {p_value/2:.2f}, tolak H0')
else:
    print(f'p_value/2 = {p_value/2:.2f}, terima H0')

p_value/2 = 0.09, terima H0

**Kesimpulan:** rata rata mpg >= 23.0

### Uji 1 sisi
apakah rata rata mpg lebih dari 21

- H0: rata rata mpg <= 21
- H1: rata rata mpg > 21

In [16]:
# uji statistik
stats, p_value = ttest_1samp(df_mpg['mpg'], popmean = 21.0)

Jika p_value / 2 < 0.05 dan stat > 0 maka tolak H0 dan terima H1 (one tailed kanan)

In [17]:
# akibat one tailed maka p value harus dibagi 2 dan juga cek arahnya (stats)
if p_value/2 < 0.05 and stats > 0:
    print(f'p_value/2 = {p_value/2:.2f}, tolak H0')
else:
    print(f'p_value/2 = {p_value/2:.2f}, terima H0')

p_value/2 = 0.00, tolak H0

**Kesimpulan:** rata rata mpg > 21

### Uji 1 sisi:
cek apakah rata rata akselerasi lebih dari 15

- H0: rata rata akselerasi <= 15
- H1: rata rata akselerasi > 15

In [18]:
# uji statistik
stats, p_value = ttest_1samp(df_mpg['acceleration'], popmean = 15.0)

In [21]:
# akibat one tailed maka p value harus dibagi 2 dan juga cek arahnya (stats)
if p_value/2 < 0.05 and stats > 0:
    print(f'p_value/2 = {p_value/2:.2f}, tolak H0')
else:
    print(f'p_value/2 = {p_value/2:.2f}, terima H0')

p_value/2 = 0.00, tolak H0

**Kesimpulan:** rata rata akselerasi > 15

## Two Sample Independent Test (Varians Sama)

In [25]:
df_mpg[df_mpg['origin'] == 'usa']['mpg'].mean() # mean by sample

20.083534136546184

In [26]:
df_mpg[df_mpg['origin'] == 'japan']['mpg'].mean() # mean by sample

30.450632911392404

### 1 sisi
apakah rata rata mobil usa lebih boros (mpg lebih kecil) daripada mobil jepang

- H0: rata rata mpg mobil usa >= mpg mobil jepang
- H1: rata rata mpg mobil usa < mpg mobil jepang

In [28]:
from scipy.stats import ttest_ind

In [29]:
usa = df_mpg[df_mpg['origin'] == 'usa']['mpg']
japan = df_mpg[df_mpg['origin'] == 'japan']['mpg']

In [30]:
stats, p_value = ttest_ind(usa, japan, equal_var=True, alternative = 'less') 
# dilihat dari h1 untul alternativenya

In [31]:
# Intepretasi hasil:
if p_value > 0.05:
    print(f'p_value = {p_value:.2f}, Terima H0')
else:
    print(f'p_value = {p_value:.2f}, Terima H1')

p_value = 0.00, Terima H1

**Kesimpulan:** rata rata mpg mobil usa < mpg mobil jepang
ttest_ind

### 1 sisi
apakah rata rata mobil usa akselerasinya lebih tinggi daripada mobil jepang

- H0: rata rata akselerasi mobil usa <= akselerasi mobil jepang
- H1: rata rata akselerasi mobil usa > akselerasi mobil jepang

In [33]:
usa = df_mpg[df_mpg['origin'] == 'usa']['acceleration']
japan = df_mpg[df_mpg['origin'] == 'japan']['acceleration']

In [37]:
usa.mean()

15.033734939759036

In [38]:
japan.mean()

16.17215189873418

In [35]:
stats, p_value = ttest_ind(usa, japan, equal_var=True, alternative = 'greater')

In [36]:
# Intepretasi hasil:
if p_value > 0.05:
    print(f'p_value = {p_value:.2f}, Terima H0')
else:
    print(f'p_value = {p_value:.2f}, Terima H1')

p_value = 1.00, Terima H0

**Kesimpulan:** rata rata akselerasi mobil usa <= akselerasi mobil jepang

In [39]:
# cara lama (tanpa alternative)
stats, p_value = ttest_ind(usa, japan, equal_var=True)

In [40]:
# akibat one tailed maka p value harus dibagi 2 dan juga cek arahnya (stats)
if p_value/2 < 0.05 and stats > 0:
    print(f'p_value/2 = {p_value/2:.2f}, tolak H0')
else:
    print(f'p_value/2 = {p_value/2:.2f}, terima H0')

p_value/2 = 0.00, terima H0

### 2 sisi
apakah rata rata akselerasi usa = europe

- H0: rata rata akselerasi usa = europe
- H1: rata rata akselerasi usa != europe

In [41]:
usa = df_mpg[df_mpg['origin'] == 'usa']['acceleration']
europe = df_mpg[df_mpg['origin'] == 'europe']['acceleration']

In [42]:
stats, p_value = ttest_ind(usa, europe, equal_var = True)

In [43]:
# Intepretasi hasil:
if p_value > 0.05:
    print(f'p_value = {p_value:.2f}, Terima H0')
else:
    print(f'p_value = {p_value:.2f}, Terima H1')

p_value = 0.00, Terima H1

**Kesimpulan:** Rata rata akeselerasi usa dan europe berbeda

## Two Sample Independent Test (Varians Tidak Sama)

### 1 sisi
apakah rata rata mobil usa akselerasinya lebih tinggi daripada mobil jepang

- H0: rata rata akselerasi mobil usa <= akselerasi mobil jepang
- H1: rata rata akselerasi mobil usa > akselerasi mobil jepang

In [44]:
usa = df_mpg[df_mpg['origin'] == 'usa']['acceleration']
japan = df_mpg[df_mpg['origin'] == 'japan']['acceleration']

In [45]:
stats, p_value = ttest_ind(usa, japan, equal_var = False, alternative = 'greater')

In [46]:
# Intepretasi hasil:
if p_value > 0.05:
    print(f'p_value = {p_value:.2f}, Terima H0')
else:
    print(f'p_value = {p_value:.2f}, Terima H1')

p_value = 1.00, Terima H0

**Kesimpulan:** rata rata akselerasi mobil usa <= akselerasi mobil jepang

## 2 sample paired ttest

In [47]:
np.random.seed(42)

sebelum = np.random.normal(loc=25, scale=2, size = 100)
setelah = np.random.normal(loc=27, scale =3, size = 100)

df_pair = pd.DataFrame({'after_tuning':setelah, 'before_tuning': sebelum})
df_pair.head()

   after_tuning  before_tuning
0     22.753888      25.993428
1     25.738064      24.723471
2     25.971856      26.295377
3     24.593168      28.046060
4     26.516143      24.531693

### 2 tail test
menguji apakah terdapat perbedaan antara konsumsi bahan bakar sebelum dan setelah tuning

- H0: tidak ada perbedaan (sebelum = setelah)
- H1: ada perbedaan (sebelum != setelah)

In [49]:
from scipy.stats import ttest_rel

In [50]:
stats, p_value = ttest_rel(df_pair['after_tuning'], df_pair['before_tuning'])

In [51]:
# Intepretasi hasil:
if p_value > 0.05:
    print(f'p_value = {p_value:.2f}, Terima H0')
else:
    print(f'p_value = {p_value:.2f}, Terima H1')

p_value = 0.00, Terima H1

**Kesimpulan:** Terdapat perbedaan konsumsi bahan bakar antara sebelum dan setelah tuning

## One Way Anova: Uji paramterik lebih dari 2 populasi

**contoh 1** apakah ada perbedaan akselerasi antara ketiga origin mobil (japan, usa, europe)

- H0: akselerasi ketiga origin sama
- H1: akselerasi ketiga origin ada yang berbeda

In [53]:
from scipy.stats import f_oneway

In [54]:
usa = df_mpg[df_mpg['origin'] == 'usa']['acceleration']
europe = df_mpg[df_mpg['origin'] == 'europe']['acceleration']
japan = df_mpg[df_mpg['origin'] == 'japan']['acceleration']

In [55]:
stats, p_value = f_oneway(usa, europe, japan)

In [56]:
# Intepretasi hasil:
if p_value > 0.05:
    print(f'p_value = {p_value:.2f}, Terima H0')
else:
    print(f'p_value = {p_value:.2f}, Terima H1')

p_value = 0.00, Terima H1

**Kesimpulan:** akselerasi ketiga origin ada yang berbeda

**Contoh 2**
apakah ada perbedaan horse power antara ketiga origin mobil (japan, usa, europe)

- H0: tidak ada perbedaan horsepower (ketiganya sama)
- H1: ada perbedaan horsepower dari ketiganya

In [65]:
# df_mpg.dropna(inplace = True)
df_mpg = df_mpg.dropna()

In [66]:
usa = df_mpg[df_mpg['origin'] == 'usa']['horsepower']
europe = df_mpg[df_mpg['origin'] == 'europe']['horsepower']
japan = df_mpg[df_mpg['origin'] == 'japan']['horsepower']

In [67]:
stats, p_value = f_oneway(usa, europe, japan)

In [68]:
# Intepretasi hasil:
if p_value > 0.05:
    print(f'p_value = {p_value:.2f}, Terima H0')
else:
    print(f'p_value = {p_value:.2f}, Terima H1')

p_value = 0.00, Terima H1

**Kesimpulan:** ada perbedaan

In [69]:
df_mpg.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

In [73]:
df_mpg['cylinders'].unique()

array([8, 4, 6, 3, 5], dtype=int64)

**Contoh 3** apakah ada perbedaan mpg antara berbagai jenis silinder

- H0: tidak ada perbedaan antar jenis silinder
- H1: ada perbedaan antar jenis silinder

In [74]:
cyl_3 = df_mpg[df_mpg['cylinders'] == 3]['mpg']
cyl_4 = df_mpg[df_mpg['cylinders'] == 4]['mpg']
cyl_5 = df_mpg[df_mpg['cylinders'] == 5]['mpg']
cyl_6 = df_mpg[df_mpg['cylinders'] == 6]['mpg']
cyl_8 = df_mpg[df_mpg['cylinders'] == 8]['mpg']

In [75]:
stats, p_value = f_oneway(cyl_3, cyl_4, cyl_5, cyl_6, cyl_8)

In [76]:
# Intepretasi hasil:
if p_value > 0.05:
    print(f'p_value = {p_value:.2f}, Terima H0')
else:
    print(f'p_value = {p_value:.2f}, Terima H1')

p_value = 0.00, Terima H1

**Kesimpulan:** ada perbedaan mpg antar berbagai jenis silinder